.divMenu {
    margin-bottom: 50px;
}


// Media Query pour les écrans de petite taille (max-width: 767px)
@media (max-width: 767px) {
    .divMenu{
        width: 90%;
        max-width: 767px;
        margin-left: auto;
        margin-right: auto;
    }
}