.collapse__wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;    
    max-width: 1440px;    
    --primary-color: #ff6060;
    --secondary-color: #f6f6f6;
    --white: #fff;
    --18px-fontSize: 18px;
    --24px-fontSize: 24px;
    --borderRadius-desktop: 25px;
    --borderRadius-mobile: 10px;
}

.collapse__titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -10px;
    height: 47px;
    background-color: var(--primary-color);
    padding: 0px 16px;
}

.collapse__title {
    color: var(--white);
}

.collapse__arrow {
    cursor: pointer;
    transition: transform 0.5s ease;
}

.collapse__textWrapper {
    background-color: var(--secondary-color);
    overflow: hidden;
}

.collapse__text {
    color: var(--primary-color);
    font-weight: 400;
    margin: 0;
}

.collapse__wrapper--medium .collapse__titleWrapper {
    border-radius: var(--borderRadius-mobile);
}

.collapse__wrapper--medium .collapse__title,
.collapse__wrapper--medium .collapse__text {
    font-size: var(--18px-fontSize);
}

.collapse__wrapper--medium .collapse__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.collapse__wrapper--medium .collapse__textWrapper {
    padding: 40px 8px 8px 16px;
    height: 209px;
    border-radius: var(--borderRadius-mobile);
}

.collapse__wrapper--large .collapse__titleWrapper,
.collapse__wrapper--large .collapse__textWrapper {
    border-radius: 5px;
}

.collapse__wrapper--large .collapse__title,
.collapse__wrapper--large .collapse__text {
    font-size: var(--24px-fontSize);
}

.collapse__wrapper--large .collapse__textWrapper {
    padding: 24px 16px 16px 16px;
}

@media screen and (max-width: 760px) {
    .collapse__wrapper {
        width: 100%;
    }


}

.content {
    border: 1px solid rgb(128, 123, 123);
    padding: 0.5rem;
    border-radius: 5px;
}

.content-parent {
    height: 0px;
    overflow: hidden;
    padding: 0 !important;
    transition: height ease 0.9s;
}

.content-show {
    height: 150px;
}

.rotate {
    animation: rotation 0.5s linear;
    -webkit-animation-fill-mode: forwards;
}

.anti-rotate {
    animation: anti-rotation 0.5s linear;
    -webkit-animation-fill-mode: forwards;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes anti-rotation {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}
