// NavHeader.scss
.NavHeader {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;    
  max-width: 1440px;    
  margin-top: 20px;
  margin-bottom: 25px;
}

// DivHeader.scss
.DivHeader {
  
  display: flex;
}

.StyledLink {
  font-size: 24px;
  padding-left: 35px;
  margin-top: 20px;
  color: #ff6060;
  border: none;
  text-decoration: none;
}

.StyledLink:hover {
  text-decoration: underline;
}

// HeaderImage.scss
.HeaderImage {
  height: 68px;
  width: 210px;
  object-fit: cover;
}


// Media Query pour les écrans de petite taille (max-width: 767px)
@media (max-width: 767px) {
  // Ajustez vos styles pour les écrans de petite taille ici
  .NavHeader { 
    max-width: 766px;    
  }
  .StyledLink {    
    font-size: 18px;
    margin-top: 10px;
    padding-left: 30px;
  }
  .HeaderImage {
    height: 34px;
    width: 105px;
    object-fit: cover;
  }
  .DivHeader {
    text-align: center;
  }
}